{% extends 'base.html.twig' %}
{% block script %}
	<script src="{{ asset('admin/global_assets/js/plugins/tables/datatables/datatables.min.js') }}"> </script>
	<script src="{{ asset('admin/global_assets/js/demo_pages/datatables_basic.js') }}"> </script>   
{% endblock %}

{% block content %}

   <div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color:Teal" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white">Liste des Pays</h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:150px" href="{{ path('app_pays_new') }}"><i class="icon-user-plus"></i> Ajouter Pays</a>
	                	</div>

                           </div><br>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0"  ="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr>
                <th>ID</th>
                <th >Nom</th>
                    <th >Description</th>
               <th><center>Images</center></th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                 <td>{{ pay.ID }}</td>
                <td>{{ pay.nom }}</td>
                    <td>{{ pay.description }}</td>
                <td><center>
                {% for image in pay.images|slice(0,1) %}
                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="100">
                                {% endfor %}
                                <center></td>
                <td>
  {{ include('pays/show.html.twig') }}
                     <a class="btn edit btn-warning"  href="{{ path('app_pays_edit', {'id': pay.id}) }}"style="width:40px"><i class="icon-pencil"></i></a>
                {{ include('pays/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
