{% extends 'base.html.twig' %}
{% block style %}{% endblock %}
{% block titlepage %}Offre index{% endblock %}

{% block script %}
	<script src="{{ asset('admin/global_assets/js/plugins/tables/datatables/datatables.min.js') }}"> </script>
	<script src="{{ asset('admin/global_assets/js/demo_pages/datatables_basic.js') }}"> </script>   
{% endblock %}

{% block content %}

   <div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color:Teal" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white">Liste des Offres</h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:150px" href="{{ path('app_offres_new') }}"><i class="icon-user-plus"></i> Ajouter Offre</a>
	                	</div>
                           </div>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>TotalRate</th>
                <th>Prix</th>
                <th>Inclus</th>
                <th>Non Inclus</th>
               <th colspan="2"><center>Images</center></th>
                
                <th colspan="3"><center>actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.title }}</td>
               
             
                <td>{{ offre.prix }}</td>
                <td>{{ offre.inclus }}</td>
                <td>{{ offre.NonInclus }}</td>
                 <td colspan="2">
                 <center>
                {% for image in offre.images|slice(0, 1) %}
               <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">
                       {% endfor %}
       </center>
               </td>
             
                <td colspan="3">
                <center>
                     {{ include('offres/show.html.twig') }}
                     <a class="btn edit btn-info"  href="{{ path('app_offres_edit', {'id': offre.id}) }}"style="width:40px"><i class="icon-pencil"></i></a>
                    {{ include('offres/_delete_form.html.twig') }}
                    </center>
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_new') }}">Create new</a>
{% endblock %}
